<nav class="nav" style="margin-top: 30px;">
  <a routerLink="">
    <img [src]="logoUrls" alt="Logo" class="logo"  style="margin-top: -30px;"></a>
  <div *ngIf="menuType!=='seller'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()"
      placeholder="Search Products" />
    <button (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="user-auth">UserLogin/Sign-up</a></li>
      <li><a href="#">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="user-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a>{{userName | titlecase}}</a></li>
      <li><a routerLink="my-orders">My Orders</a></li>
      <li><a (click)="userLogout()">Logout</a></li>

      <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
      <li><a href="#">Token Balance: {{ tokenBalanceAmount }}</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="seller-home">List</a></li>
      <li><a (click)="sellerLogout()">Logout</a></li>
      <li><a href="#">{{sellerName | titlecase}}</a></li>
    </ul>
  </div>
</nav>